<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Beez Design</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" href="style.css" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="iecss.css" />
<![endif]-->
</head>
<body>
<div id="main_container">
  <div class="top_illustration"><img src="images/been.png" alt=""  width="156" height="143"/></div>
  <div id="header">
    <div class="logo"> <a href="#"><img src="images/logo.gif" alt="" border="0" /></a> </div>
  </div>
  <div id="menu_tab">
    <ul class="menu">
      <li><a href="#" class="nav_selected"> home </a></li>
      <li class="divider"></li>
      <li><a href="#" class="nav"> services</a></li>
      <li class="divider"></li>
      <li><a href="projects.php" class="nav"> portofolio</a></li>
      <li class="divider"></li>
      <li><a href="#" class="nav"> clients</a></li>
      <li class="divider"></li>
      <li><a href="contact.php" class="nav"> contact </a></li>
    </ul>
  </div>
  <div id="main_content">
    <div id="middle_banner">
      <div class="middle_banner_content"> <img src="images/banner_content.png" alt="" width="417" height="142" /> </div>
    </div>
    <div id="left_content">
      <h1>About Us</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
      <h1>Our Services</h1>
      <p class="clear"> <img src="images/icon1.png" alt="" class="left_img" width="48" height="48" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
      <p class="clear"> <img src="images/icon2.png" alt="" class="left_img" width="48" height="48" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
      <p class="clear"> <img src="images/icon3.png" alt="" class="left_img" width="48" height="48" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
    </div>
    <div id="right_content">
      <div class="members_login">
        <h1>Clients login</h1>
        <div class="login_row">
          <label class="login">email:</label>
          <input type="text" class="login_input" />
        </div>
        <div class="login_row">
          <label class="login">password:</label>
          <input type="password" class="login_input" />
        </div>
        <div class="login_row"> <a href="#" class="login_submit">login</a> </div>
      </div>
      <h1>Latest News</h1>
      <p class="news"> <img src="images/calendar.gif" alt="" class="left_img" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
      <p class="news"> <img src="images/calendar.gif" alt="" class="left_img" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
      <p class="news"> <img src="images/calendar.gif" alt="" class="left_img" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
    </div>
    <div id="footer"><img src="images/footer_logo.gif" alt="" /> Beez Design &copy; 2008 <br />
      By <a href="http://csscreme.com">csscreme</a> | Downloaded from <a href="http://www.mytemplatez.com">Free Website Templates</a></div>
  </div>
</div>
</body>
</html>
