<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content="true" name="mssmarttagspreventparsing" />
        <meta http-equiv="imagetoolbar" content="no" />
        <title>Portfolio Template</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <!-- IE fixes -->
        <!--[if lte IE 6]>
        <style type="text/css">
        </style>
        <script src="js/DD_belatedPNG_0.0.7a-min.js" type="text/javascript"></script>
        <script type="text/javascript">
                DD_belatedPNG.fix('#main, #logo, .menu_btn, .menu_btn_act, .twitt');
	</script>
        <![endif]-->

</head>

<body>

        <!-- Main Container -->
	<div id="main">

                <!-- Logo -->		
		<div id="logo">
                        <a href="index.html"></a>
		</div>
		
                <!-- Main Menu -->
		<div id="menu">
			
			<dl class="mh">
				<dt><a href="index.html" class="menu_tit">home</a></dt>
				<dd><a href="index.html" class="menu_btn"></a></dd>
			</dl>

			<dl class="ma">
				<dt><a href="about.html" class="menu_tit_act">about</a></dt>
				<dd><a href="about.html" class="menu_btn_act"></a></dd>
			</dl>

			<dl class="mp">
				<dt><a href="portfolio.html" class="menu_tit">portfolio</a></dt>
                                <dd><a href="portfolio.html" class="menu_btn"></a></dd>
			</dl>

			<dl class="mc">
				<dt><a href="contact.html" class="menu_tit">contact</a></dt>
                                <dd><a href="contact.html" class="menu_btn"></a></dd>
			</dl>

		</div>

                <!-- Container -->
		<div id="cnt">

			<!-- About Title -->		
			<div class="about_tit">
				About
			</div>

			<div class="about">
				
				<!-- About Picture and links -->
				<div class="about_info">

					<img src="images/about_pic.jpg" alt="about_picture" />

					<a href="http://rabotilnica.com.mk">rabotilnica.com.mk</a>
					<a href="http://dryicons.com">dryicons.com</a>

				</div>

				<!-- About Text -->		
				<div class="about_txt">
					Lorem ipsum dolor sit amet, ac mollis cubilia. Porta condimentum, adipiscing quisque, eget ac convallis rutrum metus blandit et. Eget auctor, eros corporis. Laoreet nullam tempus, scelerisque enim ut mauris consequat nulla, commodo elit, quis nulla dignissim rutrum cursus ut. Wisi ante elementum quisque dui est, sed duis nonummy velit sit mollis hymenaeos, est suscipit nec sit, semper eget molestie fermentum. Ante platea sit justo vestibulum, justo mauris in tempus platea, vel hac ut mauris, purus augue dictum suspendisse, mattis ultrices nisl at eu a sit. Tempus scelerisque sed, venenatis quis wisi. Mus maecenas. Amet arcu, quis augue pretium tortor nonummy rhoncus eget, donec elit lacus tellus ut lorem, eu leo purus et non.
<br />
<br />
Dolor erat dolor nunc habitant urna, curabitur nibh ultricies penatibus nec pellentesque, nibh cum porta enim erat fermentum lorem, amet elit nunc gravida orci. Donec lacus et, at mi consequat metus sem dolor aptent, maecenas elit rutrum. Libero aliquam quis, urna dolor, voluptas praesent risus congue. Fusce aut, augue molestie. Vitae ut porttitor interdum nec, aptent ex lectus nunc, nibh nulla mi sapien ultricies, egestas ipsum. Tellus commodo iaculis mauris faucibus ut. Amet interdum commodo quis dolor, iaculis maecenas, integer qui enim arcu wisi. Massa purus adipiscing cras amet tempus, a fames, nunc felis morbi.
<br />
<br />
Vestibulum in quis et integer, orci nunc, fusce a habitasse porta donec. Wisi metus vitae arcu ac. Amet sed, pretium tristique erat consequat leo ultricies. Consectetuer est vivamus risus lorem at, arcu nibh ut metus, ullamcorper sollicitudin molestie cras necessitatibus duis, dui et nam, lectus pede id. Magnis netus eu ut massa. Aenean mattis mauris, suscipit porta lacinia pede, nibh elementum tincidunt fermentum in turpis, pellentesque sed praesent ornare. Eu tristique, pede proin consequat ac fringilla cras, nec purus elit diam sit, natoque velit metus imperdiet ut orci. Sem aenean lorem suspendisse, dignissim lacinia mauris torquent cras. Illo fusce ante justo vitae bibendum id.
				</div>

			</div>

		</div>

                <!-- Footer -->
		<div id="foo">
			
                        <!-- Follow me on Twitter -->
			<div class="twitt">
			</div>

			<!-- DryIcons credit: Do not remove the following code if you are using this template under the DryIcons Free License Terms of Use
                     If you'd like to use this theme without the obligatory back-link to http://dryicons.com/ please
                     consider using it under the DryIcons Commercial License Terms
                     For details see http://dryicons.com/terms/ -->
			<a class="rgh" href="http://dryicons.com">&copy;2009 portfolio site. All right reserved. Template by <span>DryIcons.com</span></a>
			<a class="ftw" href="http://twitter.com/dryicons">follow me on twitter</a>
		</div>

	</div>

</body>
</html>
