*{margin:0;padding:0;}

body{
width:1024px;
min-height:100%;
background:grey;
}

.menu{
margin:0 auto;
width:800px;
}
.menu ul{
margin: 10px;
/*background: rgb(66, 148, 66);*/
background-image: linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -o-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -moz-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -ms-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.43, rgb(194,147,93)),
	color-stop(0.74, rgb(212,202,178)),
	color-stop(0.87, rgb(235,212,155))
);
/* For Internet Explorer 5.5 - 7 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#ffffff);
        For Internet Explorer 8 
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#ffffff)";    
        background-color: #CCC*/
height: 30px;
text-align: center;
}

.nav li{
list-style:none;
float:left;
padding:5px 32px 9px 44px;
width:80px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 13px;
line-height: 16px;
font-weight: bold;
color:white;
position:relative;
}

.nav li:hover{
background-image: linear-gradient(bottom, rgb(217,136,43) 43%, rgb(184,144,51) 74%, rgb(224,189,107) 87%);
background-image: -o-linear-gradient(bottom, rgb(217,136,43) 43%, rgb(184,144,51) 74%, rgb(224,189,107) 87%);
background-image: -moz-linear-gradient(bottom, rgb(217,136,43) 43%, rgb(184,144,51) 74%, rgb(224,189,107) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(217,136,43) 43%, rgb(184,144,51) 74%, rgb(224,189,107) 87%);
background-image: -ms-linear-gradient(bottom, rgb(217,136,43) 43%, rgb(184,144,51) 74%, rgb(224,189,107) 87%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.43, rgb(217,136,43)),
	color-stop(0.74, rgb(184,144,51)),
	color-stop(0.87, rgb(224,189,107))
);;
}

.nav li a{
text-decoration:none;
color:white;
}

.nav li ul {
position:absolute;
margin: 0px;
padding: 0px;
background: rgb(66, 148, 66);
height: 30px;
left:-1000px;
width:156px;
}
.nav li ul li{
float:none;
margin:0px;
height:30px;
width:156px;
padding:0px;
background-image: linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -o-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -moz-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -ms-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.43, rgb(194,147,93)),
	color-stop(0.74, rgb(212,202,178)),
	color-stop(0.87, rgb(235,212,155))
);
}

.nav li:hover ul {
display:block;
left:0px;
top:26px;
float:left;
margin:0px;
padding:0px;
background-image: linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -o-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -moz-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -ms-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.43, rgb(194,147,93)),
	color-stop(0.74, rgb(212,202,178)),
	color-stop(0.87, rgb(235,212,155))
);

}


.nav li:hover ul li ul{
display:block;
left:156px;
top:-2px;
float:left;
margin:0px;
padding:0px;
background-image: linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -o-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -moz-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -webkit-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -ms-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.43, rgb(194,147,93)),
	color-stop(0.74, rgb(212,202,178)),
	color-stop(0.87, rgb(235,212,155))
);
}

.nav li ul  li ul li{
border:1px solid;
height:29px;
border-image: linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
border-image: -o-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
border-image: -moz-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
border-image: -webkit-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
border-image: -ms-linear-gradient(bottom, rgb(194,147,93) 43%, rgb(212,202,178) 74%, rgb(235,212,155) 87%);
border-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.43, rgb(194,147,93)),
	color-stop(0.74, rgb(212,202,178)),
	color-stop(0.87, rgb(235,212,155))
);
}




