<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BEEZ</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="dropdown.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<link href="dropdown_ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="top">
  <h1>Your Company Name</h1>
</div>
<div id="banner"><img src="images/top.jpg" alt="top image" title="top image"/></div>
<div id="container">
  <div id="menu">
    <div class="menu">
      <ul>
        <li><a class="hide" href="http://web-mastery.info/">&nbsp; &diams; HOMEPAGE</a>
          <!--[if lte IE 6]>
<a href="http://web-mastery.info/">&nbsp; &diams; HOMEPAGE
<table><tr><td>
</td></tr></table>
</a>
<![endif]-->
        </li>
        <li><a class="hide" href="http://web-mastery.info/">&nbsp; &diams; ABOUT</a>
          <!--[if lte IE 6]>
<a href="http://web-mastery.info/">&nbsp; &diams; ABOUT
<table><tr><td>
<![endif]-->
          <ul>
            <li><a href="http://web-mastery.info/">&nbsp; &raquo; Web Design</a></li>
            <li><a href="http://web-mastery.info/">&nbsp; &raquo; Templates</a></li>
          </ul>
          <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
        </li>
        <li><a class="hide" href="http://web-mastery.info/">&nbsp; &diams; GALLERY</a>
          <!--[if lte IE 6]>
<a href="http://web-mastery.info/">&nbsp; &diams; GALLERY
<table><tr><td>
<![endif]-->
          <ul>
            <li><a href="http://web-mastery.info/">&nbsp; &raquo; Photos 1</a></li>
            <li><a href="http://web-mastery.info/">&nbsp; &raquo; Photos 2</a></li>
            <li><a href="http://web-mastery.info/">&nbsp; &raquo; Photos 3</a></li>
          </ul>
          <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
        </li>
        <li><a class="hide" href="http://web-mastery.info/">&nbsp; &diams; RESOURCES</a>
          <!--[if lte IE 6]>
<a href="http://web-mastery.info/">&nbsp; &diams; RESOURCES
<table><tr><td>
<![endif]-->
          <ul>
            <li><a href="http://web-mastery.info/">&nbsp; &raquo; Links</a></li>
          </ul>
          <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
        </li>
        <li><a class="hide" href="http://web-mastery.info/">&nbsp; &diams; CONTACT</a>
          <!--[if lte IE 6]>
<a href="http://web-mastery.info/">&nbsp; &diams; CONTACT
<table><tr><td>
<![endif]-->
        </li>
      </ul>
      <!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
    </div>
  </div>
  <div id="sidebar">
    <h2>Homepage</h2>
    <p> Donec lorem. Quisque eu pede ac ligula bibendum cursus. Fusce ut urna..... </p>
    <h2>Links</h2>
    <div id="nav">
      <ul id="navlist">
        <li><a href="http://web-mastery.info/">Snapp Happy</a></li>
        <li><a href="http://web-mastery.info/">Open Designs</a></li>
        <li><a href="http://web-mastery.info/">OWD</a></li>
        <li><a href="http://web-mastery.info/">OSWD</a></li>
        <li><a href="http://web-mastery.info/">CSS play</a></li>
        <li><a href="http://web-mastery.info/">Andreas Viklund</a></li>
        <li><a href="http://web-mastery.info/">James Koster</a></li>
      </ul>
    </div>
    <h2>Today's Photo</h2>
    <a href="http://web-mastery.info/"><img class="myborder" src="images/bee.jpg" title="click to enlarge" alt="bee on flower" /></a>
    <h2>New Photos</h2>
    <ul id="navlist2">
      <li> <a href="http://web-mastery.info/">Bee 1 Gallery</a></li>
      <li> <a href="http://web-mastery.info/">Bee 2 Gallery</a></li>
      <li> <a href="http://web-mastery.info/">Bee 3 Gallery</a></li>
    </ul>
  </div>
  <div id="content">
    <h2>Welcome to <span style="font-weight:bold;">Beez</span> Template</h2>
    <blockquote>All images were created by me so feel free to use them if you wish. The page has been tested in Mozilla and IE7. The page validates as XHTML 1.0 Transitional using valid CSS.<br />
      For more FREE templates visit my website.</blockquote>
    <div style="float: left; width: 120px; height: 7em; margin:5px; padding: 20px; font-family: arial, helvetica; font-size: 14px; line-height: 1.5em; color: #869A3B; text-align: left;"> <span style="color:#7a513d;">".... sharing templates </span>and experiences of web design <span style="color: #858F6D;">around the world .... "</span> </div>
    <p>This is a <a href="http://web-mastery.info/">link</a> to nowhere. Donec lorem. Quisque eu pede ac ligula bibendum cursus. Nulla tristique diam sit amet lacus. Nulla ut magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam diam orci, scelerisque quis, fermentum non, volutpat non, libero. In hac habitasse platea dictumst. Fusce ut urna. Donec lorem. Quisque eu pede ac ligula bibendum cursus. Nulla tristique diam sit amet lacus. Nulla ut magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam diam orci, scelerisque quis, fermentum non, volutpat non, libero. In hac habitasse platea dictumst. Fusce ut urna.</p>
    <h2> News &amp; Updates</h2>
    <div class="scroll">
      <h3>May 3rd 2006</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc venenatis rhoncus libero. Quisque et elit luctus diam ornare sollicitudin. Quisque nec elit. Quisque vehicula metus vel nisi hendrerit cursus.</p>
      <h3>May 1st 2006</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc venenatis rhoncus libero. Quisque et elit luctus diam ornare sollicitudin. Quisque nec elit. Quisque vehicula metus vel nisi hendrerit cursus.</p>
    </div>
    <p> Donec lorem. Quisque eu pede ac ligula bibendum cursus. Nulla tristique diam sit amet lacus. Nulla ut magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam diam orci, scelerisque quis, fermentum non, volutpat non, libero. In hac habitasse platea dictumst. Fusce ut urna.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc venenatis rhoncus libero. Quisque et elit luctus diam ornare sollicitudin. Quisque nec elit. Quisque vehicula metus vel nisi hendrerit cursus. Nunc venenatis rhoncus libero. </p>
  </div>
  <div id="footer"> <a href="http://web-mastery.info/">Homepage</a> | <a href="http://web-mastery.info/">contact</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> | Licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a> </div>
</div>
</body>
</html>
